*.gmo
*.geany
*.la
*.lo
*.log
*.o
*.trs
*~
.deps
.libs
aclocal.m4
autom4te.cache
auxiliaryconfig
config.*
configure
local
libotb-tests
libotb-tests.exe
libtool
Makefile
Makefile.in
otbdemo
one-time-bits.pot
POTFILES
stamp-*

insecure-using-dummy-replacements-of-the-original-openssl-functions.c
secure-using-real-openssl-functions.c
