*.gmo
*.geany
*.la
*.lo
*.log
*.o
*.trs
*~
.deps
.libs
autom4te.cache
auxiliaryconfig
config.*
configure
local
libtool
Makefile
Makefile.in
POTFILES
one-time-bits.pot
otb-tests
otb-tests.exe
stamp-*

insecure-using-dummy-replacements-of-the-original-openssl-functions.c
secure-using-real-openssl-functions.c
