*.gmo
*.geany
*.la
*.lo
*.o
tests/otb-tests
config.h
config.h.in
*~
Makefile
.deps
.libs
stamp-*
local
config.log
config.status
po/Makefile.in
po/POTFILES
po/missing
po/one-time-bits.pot
libtool
autom4te.cache
secure-using-real-openssl-functions.c
